body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222222;
    color: white;
}

header {
    padding: 20px;
    border-bottom: 1px solid #555555;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin-right: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

main {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

footer {
    margin-top: 40px;
    padding: 20px;
    border-top: 1px solid #555555;
}

.movie-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.movie-block {
    border: 1px solid #555555;
    border-radius: 8px;
    padding: 20px;
    width: 250px;
}

@media (max-width: 900px) {
    main {
        padding: 0 30px;
    }
}

@media (max-width: 550px) {
    main {
        padding: 0 15px;
    }

    .movie-list {
        flex-direction: column;
    }

    .movie-block {
        width: auto;
    }

    nav a {
        display: block;
        margin-bottom: 10px;
    }
}