body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222222;
    color: white;
}

header {
    padding: 20px;
    border-bottom: 1px solid #555555;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin-right: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

main {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

footer {
    margin-top: 40px;
    padding: 20px;
    border-top: 1px solid #555555;
}

.movie-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.movie-block {
    border: 1px solid #555555;
    border-radius: 8px;
    padding: 20px;
    width: 220px;
    height: 350px;
    color: white;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.movie-block h3 {
    margin: 0;
}

.minecraft {
    background-image:
        linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
        url("images/minecraft.jpg");
}

.spiderman {
    background-image:
        linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
        url("images/spiderman.jpg");
}

.forrest-gump {
    background-image:
        linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
        url("images/forrest-gump.jpg");
}

.titanic {
    background-image:
        linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
        url("images/titanic.jpg");
}

.obsession {
    background-image:
        linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
        url("images/obsession.jpg");
}

.odyssey {
    background-image:
        linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
        url("images/odyssey.jpg");
}

.active {
    color: #f5c518;
}

nav a:hover {
    color: #f5c518;
}

@media (max-width: 900px) {
    main {
        padding: 0 30px;
    }
}

@media (max-width: 550px) {
    main {
        padding: 0 15px;
    }

    .movie-list {
        flex-direction: column;
    }

    .movie-block {
        width: auto;
        height: 470px;
    }

    nav a {
        display: block;
        margin-bottom: 10px;
    }
}